h1{
    text-align: center;
    font-size: 2em;
    margin-top: 5%;
}
#container{
    width: 80%;
    max-width: 1440px;
/*    background-color: aqua;*/
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    align-items:center;
}
/*About________________________*/
#Aboutphoto{
    width: 50%;
    max-width: 200px;
/*    background-color: aquamarine;*/
    margin: 1%;
    margin-top: 10%;
    text-align: center;
}
#Aboutphoto img{
    width: 100%;
    border-radius: 100%;
}
#Aboutphoto p{
    padding: 10%;
    letter-spacing: 5px;
}
#depiction{
    padding-top: 2%;
    max-width: 670px;
    line-height: 2.4;
    letter-spacing: 1px;
    text-align: center;
}
/*About skill________________________*/
#skill{
    width: 100%;
/*    height: 600px;*/
/*    background-color: aqua;*/
    margin: 10% 0 0 0;
}
#skill ul{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
#skill li{
    text-align: center;
    border: 1px solid #c3cbd8;
    width: 22%;
    margin: 5% 1%;
    background-color: white;
    border-radius: 10px;
    transition: 1s;
    -webkit-transition: 1s;
}
.icon{
    margin-top: -15%;
}
.icon .fas{
    font-size: 3em;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #c3cbd8;  
    color: #ff9300;
}
#skill h3{
    font-size: 1.5em;
    margin: 10%;
}
#skill p{
    box-sizing: border-box;
    padding: 0 10%;
    letter-spacing: 2px;
    line-height: 2;
    margin-bottom: 10%;
}
@media screen and (max-width: 1300px) {
    #skill li{
        width: 45%;
        margin: 5% 1%;
    }   
    .icon{
        margin-top: -12%;
    }
}
@media screen and (max-width: 769px) {
    #skill li{
        width: 100%;
        margin: 5% 1%;
        max-width: 600px;
    }
    .icon{
        margin-top: -8%;
    }
}
/*About License________________________*/
#License{
    width: 100%;
}
.license{
    width: 100%;
/*    height: 600px;*/
    margin: 0 auto;
    background-color: rgba(255, 229, 187, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 5% 0;
}
.licimg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 35%;
    height: 450px;
}
#l01{
/*    background-color: aqua;*/
    position: relative;
    background-image: url("../images/about/UIUX01.jpg");
    transition: 1s;
    -webkit-transition: 1s;
}
#l01-2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/about/UIUX02.jpg");
    display: none;
}
#l01:hover{
    cursor: pointer; 
    transform: scale(1.5);
}
#l01:active #l01-2{
    display: block;
}
#l01-2:hover{
    cursor: pointer; 
    display: block;
}
#lictext{
    box-sizing: border-box;
    padding: 1%;
    width: 60%;
    line-height: 2;
    max-width: 650px;
}
#lictext h3{
    font-size: 1.4em;
    line-height: 2;
    color: #f7a94e;
    font-weight: 500;
    border-bottom: 3px solid #f7a94e;
    margin-bottom: 4%;
}
@media screen and (max-width: 1300px) {
    .license{
        flex-direction: column;
        width: 100%;
    }
    .licimg{
        width: 50%;
    }
    #lictext{
        width: 100%;
    }
}
@media screen and (max-width: 769px) {
    .licimg{
        width: 60%;
        height: 300px;
    }
    #lictext h3{
        box-sizing: border-box;
        padding: 0 5%;
        font-size: 1.2em;
        margin: 6% 0 2% 0;
    }
    #lictext p{
        box-sizing: border-box;
        padding: 0 5%;
    }
}
/*Portfolio all________________________*/
#PortfolioAll{
    width: 100%;
}
#PortfolioAll h2{
    font-size: 1.3em;
    margin: 4% 0 1% 0 ; 
    text-align: center;
}
.line{
    display: flex;
    justify-content: center;
    align-items: center;
}
.line div{
    margin-top: 3%;
    width: 40%;
    height: 2px;
    background: -webkit-linear-gradient(left, rgba(189, 195, 199, 0), rgba(44, 62, 80, 0.6), rgba(189, 195, 199, 0));
    background: -o-linear-gradient(left, rgba(189, 195, 199, 0), rgba(44, 62, 80, 0.6), rgba(189, 195, 199, 0));
    background: linear-gradient(to right, rgba(189, 195, 199, 0), rgba(44, 62, 80, 0.6), rgba(189, 195, 199, 0));
}
.line h2{
    width: 15%;
    height: 50px;
    line-height: 50px;
/*    background-color: aqua;*/
    display: block;
}
@media screen and (max-width: 769px) {
    .line div{
        width: 30%;
        margin-top: 4%;
    }
    .line h2{
        width: 40%;
    }
}
/*Portfolio web________________________*/
#web{
    width: 100%;
/*    height: 200px;*/
/*    background-color: antiquewhite;*/
}
.web{
    position: relative;
    width: 100%;
    height: 350px;
/*    border: 1px solid red;*/
    margin: 2% 1%;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 10px 5px 20px rgba(106, 103, 103, 0.09);
}
#web-pento{
    background-image: url("../images/web/pento.png");
}
#web-gaja{
    background-image: url("../images/web/gaja.png");
}
#web-first{
    background-image: url("../images/web/first.jpg");
    background-position: 50% 43% ;
}
@media screen and (max-width: 769px) {
    #web-pento{
        background-image: url("../images/web/pento2.png");
    }
    #web-gaja{
        background-image: url("../images/web/gaja2.png");
    }
    #web-first{
        background-image: url("../images/web/first2.jpg");
        background-position: 50% 43% ;
    }  
}
.web>a{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px;
}
.coverarea{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    right: 0;
    border-radius:30px;
    color: #ffffff;
    pointer-events: none;
    opacity: 0;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    box-sizing: border-box;
    padding: 2% 3%;
}
.web:hover .coverarea{
    opacity: 1;
}
.coverarea h3{
    font-size: 1.4em;
    line-height: 2;
    margin-bottom: 10px;
    color: #b24922;
    border-bottom: 2px solid #b24922;
    text-shadow: none;
}
.coverarea p{
    color: rgb(131, 130, 136);
    line-height: 1.5;
    letter-spacing: 2px;
    font-size: 0.9em;
    margin-bottom: 45px;
}
.coverarea a{
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 50px;
    color: #b24922;
    background: -webkit-linear-gradient(left, rgba(189, 195, 199, 0), rgba(255, 255, 255, 0), rgba(189, 195, 199, 0));
    background: -o-linear-gradient(left, rgba(189, 195, 199, 0), rgba(255, 255, 255, 0), rgba(189, 195, 199, 0));
    background: linear-gradient(to right, rgba(189, 195, 199, 0), rgba(255, 255, 255, 0), rgba(189, 195, 199, 0));
    border: 2px solid #b24922;
    text-align: center;
    line-height: 50px;
    opacity: 0.9;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    pointer-events: all;
    border-radius: 50px;
}
.coverarea a:hover{
    color:white;
    background: -webkit-linear-gradient(left, #b24922, #b24922, #b24922);
    background: -o-linear-gradient(left, #b24922, #b24922, #b24922);
    background: linear-gradient(to right, #b24922, #b24922, #b24922);
    opacity: 1;
}
@media screen and (max-width: 1300px) {
    .coverarea h3{
        line-height: 2;
        font-size: 1.5em;
    }
    .coverarea p{
        margin-top: 5px;
    }
    .coverarea a{
        line-height: 40px;
        height: 40px;
        margin-top: 5px;
    }
}
@media screen and (max-width: 769px) {
    #web{
        margin-bottom: 350px;
    }
    .web{
        border-radius: 30px 30px 0px 0px;
    }
    #web-first,#web-gaja{
        margin-top: 320px;
    }
    .coverarea{
        opacity: 1;
        top:350px;
        height: 300px;
        border-radius: 0px 0px 30px 30px;
        padding: 0 6%;
    }
    #web-pento .coverarea{
        background-color: #FEFBEE;
    }
    #web-gaja .coverarea{
        background-color: #F7F7F7;
    }
    #web-first .coverarea{
        background-color: #183645;
    }
    .coverarea h3{
        font-size: 1.2em;
        color: #ffb779;
        text-align: center;
        border-bottom: 2px solid #ffb779;
        line-height:2.5;
        margin-bottom: 6%;
    }
    .coverarea p{
        color:#7492ac;
        font-size: 0.9em;
        margin-bottom: 0px; 
    }
    #web-pento .coverarea p{
        color:#aa9989;
    }
    #web-gaja .coverarea p{
        color:#86a29b;
    }
    #web-first .coverarea p{
        color:#bfc7ce;
    }
    .coverarea a{
        color: #ffb779;
        background: -webkit-linear-gradient(left, rgba(189, 195, 199, 0), rgba(255, 255, 255, 0), rgba(189, 195, 199, 0));
        background: -o-linear-gradient(left, rgba(189, 195, 199, 0), rgba(255, 255, 255, 0), rgba(189, 195, 199, 0));
        background: linear-gradient(to right, rgba(189, 195, 199, 0), rgba(255, 255, 255, 0), rgba(189, 195, 199, 0));
        border: 2px solid #ffb779;
        line-height: 40px;
        height: 40px;
        margin-top: 5px;
    }
    .coverarea a:hover{
        color: #ffa01f;
        background: -webkit-linear-gradient(left, rgba(189, 195, 199, 0), rgba(255, 255, 255, 0), rgba(189, 195, 199, 0));
        background: -o-linear-gradient(left, rgba(189, 195, 199, 0), rgba(255, 255, 255, 0), rgba(189, 195, 199, 0));
        background: linear-gradient(to right, rgba(189, 195, 199, 0), rgba(255, 255, 255, 0), rgba(189, 195, 199, 0));
    }
}
/*Portfolio graphic________________________*/
#graphic{
    width: 100%;
/*    height: 500px;*/
}
#graphic ul{
    width: 100%;
/*    height: 1000px;*/
/*    background-color: aqua;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gra{
    position: relative;
    padding-bottom: 20%;
    background-color: fuchsia;
    margin: 1.3% 1%;
    border-radius: 30px;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1300px) {
    .gra{
        padding-bottom: 30%;  
    }
}
@media screen and (max-width: 769px) {
    .gra{
        padding-bottom: 40%;    
    }
}
/*平面作品縮圖================*/
.gra{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.gw27{
    width: 27%;
}
.gw40{
    width: 40%;
}
.gw48{
    width: 48%;
}
.gw64{
    width: 64.7%;
}
.gw313{
    width: 31.3%;
}
.gw48-2{
    width: 48%;
}
.gw98{
    width: 98%;
}
.gw98-2{
    width: 98%;
}
#gra01{
    background-image: url("../images/gallery/tanloo-02.jpg");
}
#gra02{
    background-image: url("../images/gallery/cis/sliver-02.png");
}
#gra03{
    background-image: url("../images/gallery/%E5%8B%95%E7%89%A9%E5%90%88%E6%88%90.jpg");
}
#gra04{
    background-image: url("../images/gallery/cis/zixuan-02.png");
}
#gra05{
    background-image: url("../images/gallery/min9-02.jpg");
}
#gra06{
    background-image: url("../images/gallery/hamm-02.png");
}
#gra07{
    background-image: url("../images/gallery/alaska-02.png");
}
#gra08{
    background-image: url("../images/gallery/fruit-02.jpg");
}
#gra09{
    background-image: url("../images/gallery/pchot/sadesnew.jpg");
}
#gra10{
    background-image: url("../images/gallery/pchot/04ss-02.jpg");
}
#gra11{
    background-image: url("../images/gallery/pchot/razerpoke.jpg");
}
#gra12{
    background-image: url("../images/gallery/exhibition/0824-%E9%B9%BF%E6%B8%AF%E9%8E%AE%E5%85%AC%E6%89%80-%E6%9E%97%E4%B8%96%E8%BC%9D-%E5%81%B6%E6%8B%BE%E5%9C%A8%E5%9C%B0%E6%83%85-%E9%9B%BB%E8%A6%96%E7%89%86448x320%20PT-01.jpg");
}
#gra13{
    background-image: url("../images/gallery/exhibition/0719-%E9%B9%BF%E6%B8%AF%E9%8E%AE%E5%85%AC%E6%89%80-%E6%96%87%E8%B5%B7%E9%9B%B2%E6%B9%A7-%E6%B5%B7%E5%A0%B1-01.jpg");
}
#gra14{
    background-image: url("../images/gallery/exhibition/0830-%E9%B9%BF%E6%B8%AF%E9%8E%AE%E5%85%AC%E6%89%80-%E6%9E%97%E4%BF%8A%E5%AF%85%E5%80%8B%E5%B1%95-%E6%B5%B7%E5%A0%B1-01.jpg");
}
#gra15{
    background-image: url("../images/gallery/skypeople-02.png");
}
#gra16{
    background-image: url("../images/gallery/card-02.png");
}
/*平面作品文字區================*/
.gra .coverarea{
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    pointer-events:auto;
}
.gra .coverarea h3{
    width: 100%;
}
.gra .coverarea p{
}
#graphic ul li:hover .coverarea{
    opacity: 1;
}
@media screen and (max-width: 1300px){
    .gra .coverarea{
/*        border-radius: 0px;*/
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
    }
    .gra .coverarea h3{
        line-height: 2;
        font-size: 1.2em;
    }
    .gra .coverarea p{
        font-size: 0.8em;
        margin-top: 5px;
        color: dimgrey;
    }
}
@media screen and (max-width: 769px){
    .gra .coverarea{
        top:0px;
        opacity: 1;
        
    }
}
/*平面作品點開大圖================*/
.graimg{
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0px;
    left: 0px;
    background-color: rgba(49, 49, 49, 0.26);
    display: flex;
    justify-content: center;
    align-items: center;
/*    opacity: 0;*/
    cursor: default;
    visibility:hidden;
}
.graimgshow{
/*    opacity: 1;*/
    visibility:visible;
}
.graimg>div{
/*    background-color: fuchsia;*/
    width: 65%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y:scroll;
}
.graimg img{
    width: 100%;
    align-self: flex-start;
}
.graimg button{
    border: none;
    color: #c4c4c4;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    background-color:#ffffff;
    border-radius: 300px;
    padding: 0.8% 1%;
/*    cursor: pointer;*/
    position: fixed;
    top:91%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.graimg button i{
    font-size: 1.5em;
}
@media screen and (max-width: 1300px){
    .graimg>div{
        width: 80%;
    }
}
@media screen and (max-width: 769px){
    .graimg>div{
        width: 90%;
    }
}
/*Portfolio movies________________________*/
#movies{
    width: 100%;
    height: 800px;
/*    background-color: #eda03a;*/
}
.movie{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2);
}
#video01,.videotext{
    width: 45%;
/*    border: 1px solid red;*/
}
.videotextin{
    width: 100%;
    max-width: 400px;
/*    background-color: aqua;*/
    margin: 10px auto;
}
.videotextin h3{
    line-height: 3;
    font-size: 1.3em;
    margin: 10px 0;
    color: #ff9300;
    
}
.videotextin p{
    line-height: 1.5;
}
.videotextin a{
    line-height: 2;
    font-size: 0.8em;
    text-align: center;
    background-color: #ff9300;
    color: white;
    display: block;
    box-sizing: border-box;
    max-width: 100px;
    padding:4px;
    margin-top: 10px;
    border-radius: 10px;
}
@media screen and (max-width: 1300px){
    .movie{
        flex-direction: column;
        -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.2));
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.2));
        box-shadow: none;
    } 
    .videotext{
        background-color: #fcfcfc;
        border-radius: 0 0 30px 30px;
        box-sizing: border-box;
        padding: 20px;
    }
    #video01,.videotext{
        width: 100%;
    }
    .videotextin{
        max-width: 600px;
    }
    .videotextin a{
        max-width: none;
    }
}